<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta property="og:url" content="{{ site.BaseURL }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:image" content="{{ site.BaseURL }}images/adbtuner_icon.png">
<meta property="og:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
<link rel="stylesheet" href="/css/custom.css">
{{ range .Site.Params.customCSS }}
{{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}{{ else }}{{ end }}{{ end }}
{{ if .Site.Params.enableGoogleAnalytics }}
{{ template "_internal/google_analytics.html" . }}
{{ end }}
{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}